html, body {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
}

body {
	background-color: #A4A9AD;
	color: #23001E;
	overflow-x: hidden;
	font-family: 'Cinzel', serif;
	font-size: 7.5vmin;
	text-align: center;
}

main {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

button {
	padding: 2em;
	font-size: 3rem;
	cursor: pointer;
	background-color: #FFBA49;
	border: none;
	border-radius: 2em;
	outline: none!important;
	font-family: 'Cinzel', serif;
}
button:hover {
	opacity: 0.8;
}